
body {
	background-color: gray;
}
nav {
	background-color: gray;
}

.img {
	width:20%;
	margin:-10px 0;
}
.row {
	margin:5px 10px 0px 10px;
	background-color:#fff;
	border-radius:15px;
}
.logo-img {
	width: 100%;
    margin: 10px 0;
    float: right;
    height: 80px;
}
.small {
	margin:35px 0;
}
span {
	font-size:11px;
}
p {
	margin-top:20px;
	margin-bottom:13px;
}


