
body {
	background-color: gray;
}
nav {
	/* background-color: #919191; */
	background-color: #C3DBF0;
}

.egsdimg {
	width:28%;
	margin:-17px -5px;
	height:45px;
}

.row {
	margin:5px 10px 0px 10px;
	background-color:#fff;
	border-radius:6px;
}
.brand-logo {
	font-size:20px !important;
}
.rowdir {
	margin:5px 10px 0px 10px;
	border-radius:6px;
}
/* .logo-img {
	width: 100%;
    margin: 20px 0;
    float: right;
    height: 80px;
} */
.logo-img{
		/* width: 100%;
    height: 19%;
    padding: 10px 10px 0px 10px; */
	height: 60px;
    padding: 10px 0px 10px 0px;
    margin-top: 16px;
    /* min-width: 100%; */
    width: auto;

	}
	.locationimg{
		width:100%;
		height:100%;
	}
.small {
	margin:35px 0;
}
span {
	font-size:11px;
}
p {
	margin-top:10px;
	margin-bottom:10px;
}
fieldset {
    height: 60px;
    font-family: sans-serif;
    background: #474747;
   /*  padding: 2px 10px 0 10px; */
	padding: 2px 2% 0 2%;
	border: 1px solid #474747;
	border-radius:5px;
	/* margin: 0px 10px 0px 10px; */
	margin: 0px 0% 0px 0%;
}

.input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
}
.input-field {
  position: relative;
  min-width: 262px;
	overflow: hidden;
  margin-top: 1rem;
}
.input-field input[type=search] ~ .mdi-navigation-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s color;
}
.row .col.s2 {
		margin-top:12px !important;
	}
	.location5 {padding-bottom:10px !important;
	min-height:10px !important}
	@media only screen and (max-width: 600px)
{
	/* .searchresize{
		margin-top:5px;
	}  */
}
@media only screen and (min-width: 500px)
{
	/* .logo-img {
		min-height: 100px !important;
	} */
	p  {
		/*margin-top: 20px !important;*/
	}
	.row .col.s2 {
		margin-top:26px !important;
	}
	/* .logo-img {
	width: 40%;
    margin: 20px 90px;
    float:right;
	} */
	.logo-img{
		width: 100%;
    height: 19%;
    padding: 5px 10px 10px 10px;

	}
 .egsdimg {
		width:34%
		
	} 
	.locationimg{
		width:100%;
		height:100%;
	}
	.location5 {padding-bottom:10px !important;}
}
.search-bar {width:100%;}

.left-text {width:90%; float:left;}
.left-text p { font-size:12px; line-height:11px !important; text-align:center;}
.heading { font-size:21px !important; color:black;line-height:11px !important; font-weight:700;}
.right-search {width:10%; float:right; padding-top:10px;}
.right-search i {font-size:35px !important; float:right; color:black; margin-right:10px;}
.helpheading { font-size:16px !important; line-height:21px !important; font-weight:700;}
li { list-style: circle; }